body{
    background-color: rgba(14, 13, 13, 0.891);
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,p{
    text-align: center;
    color: white;
}
.main-section{
    display: flex;
    justify-content: center;
    gap:50px;
    margin: 30px;
   
}
.yourButtons,.computerButtons{
    display: flex;
    justify-content: center;

}
button{
    padding: 10px 20px;
    font-size: larger;
    

}
button:hover{
    background-color: skyblue;
}

.yourPlayground,.computerPlayground{
    height:350px;
    width:350px;
    border: 3px solid rgb(22, 21, 21);
    border-radius: 8px;
    background-color: rgb(105, 99, 99)
}
.yourButtons .active{
    background-color: salmon;
    transition: background-color 0.5s ease;
}
.computerButtons .active{
    background-color: rgb(160, 88, 226);
    transition: background-color 0.5s ease;

}
button.playAgain{
    display: block;
    background-color:white;
    color:black;
    margin: auto;
    padding: 5px 10px;
    font-size: large;
}
h1.title{
font-size: 35px;
}
